{% extends 'prestamo/base.html' %}
{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.name }} {{ post.surname }}</a></h1>
        </div>
    {% endfor %}
{% endblock %}
