{% extends 'prestamo/base.html' %}

{% block content %}
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
	{% if desicion %}
        <b>{{desicion}}</b>
        {% endif %}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}

