{% extends 'prestamo/base.html' %}

{% block content %}
    <div class="date">
    {% if post.published_date %}
        {{ post.published_date }}
    {% endif %}
    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    </div>
    <h1>{{ post.name }}</h1>
    <h1>{{ post.surname }}</h1>
    <h1>{{ post.dni }}</h1>
    <h1>{{ post.genero }}</h1>
    <h1>{{ post.email }}</h1>
    <h1>{{ post.monto }}</h1>
    <h1>{{ desicion }}</h1>
{% endblock %}
